h1 {
	color:navy;
    text-align: center;
}
#entete{
	background-image:url("neige.jpg");
	height: 80px;
}

logo{
position: absolute;
right: 30px;

/*top: 15px;
height: 50px;
width: 50px;*/
top: 21px;
max-height: 80px;
width: auto;
}

#map {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 100%;
    height: 700px;
    box-shadow: 0 0 10px #999;
}
#info {
    padding: 5px;
    width: 100%;
    height: 20px;
    font-family : "monospace" ;
    font-size: 10px;
    margin-bottom: 10px;
}

body {
     background-color: LightSkyBlue;
}


#pied {
    display :flex;
    height: 40px;
    justify-content:center;
    align-items:flex-end;
    background-image:url("neige.jpg");
   
}

p{
	color:navy;
	display:flex;
    align-items: center;
    text-align:center;
}
