#map {
    padding: 5px;
    width: 100%;
    height: 500px;
    box-shadow: 0 0 10px #999;
}
#info {
    padding: 5px;
    width: 100%;
    height: 20px;
    font-family : "monospace" ;
    font-size: 10px;
}